.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.rank {
  color: #555;
}

.price {
  color: green;
  font-weight: bold;
}

/* .card {
  background-color: red;
  border-radius: 5px;
  border: 5px solid blue;
}

.card h2 {
  font-size: 1.5em;
}

.rank {
  color: #555;
}

.price {
  color: green;
  font-weight: bold;
} */